mixin pic(props = {})
  -
    const path = props.path || ''
    const name = props.name || ''
    const format = props.format || 'jpg'
    const sources = props.sources || []

  picture.pic&attributes(attributes)
    each source in sources
      if source.format !== 'svg'
        source(
          type=`image/${source.format || format}`
          media=source.media
          srcset=`assets/img/${path}/${source.name}.${source.format || format}, assets/img/${path}/${source.name}@2x.${source.format || format} 2x`
        )
      else
        source(
          type=`image/svg+xml`
          media=source.media
          srcset=`assets/img/${path}/${source.name}.svg`
        )

    if format !== 'svg'
      source(
        type="image/webp"
        srcset=`assets/img/${path}/${name}.webp, assets/img/${path}/${name}@2x.webp 2x`
      )

    img(
      src=`assets/img/${path}/${name}.${format}`
      srcset= format === 'svg' ? false : `assets/img/${path}/${name}@2x.${format} 2x`
      width= props.width
      height= props.height
      alt= props.alt || ''
      class= props.imgClass
      loading=props.isLazy && 'lazy'
      draggable="false"
      decoding= props.isAsync && 'async'
      fetchpriority= props.fetchpriority
    )
