mixin video(props = {})
  -
    const items = props.sources || []
    const preload = props.preload || 'metadata'

  video.video(
    autoplay=props.isAutoplay
    controls=props.hasControls
    playsinline
    loop=props.isLoop
    muted=props.isMuted
    preload=preload
    poster=props.poster
    disablepictureinpicture
  )&attributes(attributes)
    each item in items
      source(
        src=item.src
        type=item.type || "video/mp4"
      )
