//- https://ogp.me/#types
meta(property="og:type" content="article")
meta(property="og:title" content=`xVite - ${title}`)
meta(property="og:description" content!=desc)
meta(property="og:url" content="/")

//- Social Sharing ―¹ –Α–±―¹–Ψ–Μ―é―²–Ϋ–Ψ–Ι ―¹―¹―΄–Μ–Κ–Ψ–Ι –¥–Ψ –Κ–Α―Ä―²–Η–Ϋ–Κ–Η
meta(property="og:image" content=`${url}/img/og/1024―Ö512.jpg`)
meta(property="twitter:image" content=`${url}/img/og/1024―Ö512.jpg`)
meta(name="twitter:card" content="summary_large_image")
meta(property="fb:image" content=`${url}/img/og/500―Ö261.jpg`)
meta(property="vk:image" content=`${url}/img/og/510―Ö228.jpg`)
