mixin btn(props = {})
  -
    const tag = props.tag || (props.href ? 'a' : 'button')
    const target = props.isExternal && '_blank'
    const type = (props.type || tag === 'button') ? props.type || 'button' : false
    const size = props.size && `btn--size-${props.size}`
    const variant = props.var && `btn--var-${props.var}`
    const mod = props.mod && `btn--${props.mod}`

  #{tag}.btn(
    href=props.href
    target=target
    rel=props.href && props.isExternal && 'nofollow noopener noreferrer'
    type=type
    class=size
    class=variant
    class=mod
    class=props.isDisabled && props.href && 'is-disabled'
    class=props.isLoad && 'is-load'
    aria-label=props.ariaLabel
    title=props.title
    role=props.role || (props.href ? 'button' : false)
    disabled=props.href ? false : props.isDisabled
  )&attributes(attributes)
    if props.hasLoad
      .btn__loader
    span.btn__text
      block
