mixin checkbox(props = {})
  -
    const variant = props.var && `checkbox--var-${props.var}`
    const size = props.size && `checkbox--size-${props.size}`
    const mod = props.mod && (Array.isArray(props.mod)
      ? props.mod.filter(Boolean).map(mod => `checkbox--mod-${mod}`).join(' ')
      : `checkbox--mod-${props.mod}`)

  #{props.noLabel ? 'div' : 'label'}.checkbox(
    class=variant
    class=size
    class=mod
    aria-label=props.ariaLabel
  )&attributes(attributes)
    input(
      id=props.id
      type=props.type || 'checkbox'
      name= props.name
      value= props.value
      checked= props.isChecked
      disabled= props.isDisabled
      required= props.isRequired
    )
    span.checkbox__title
      block
