mixin checkbox(props = {})
  -
    const variant = props.variant && `checkbox--var-${props.var}`
    const size = props.size && `checkbox--size-${props.size}`

  #{props.noLabel ? 'div' : 'label'}.checkbox(
    class=variant
    class=size
  )&attributes(attributes)
    input(
      id=props.id
      type=props.type || "checkbox"
      name= props.name
      value= props.value
      checked= props.isChecked
      disabled= props.isDisabled
    )
    span.checkbox__title
      block
