mixin modal(props = {})

  .hystmodal.modal(
    id=props.id
    class=props.mod && `hystmodal--${props.mod}`
    class=props.size && `hystmodal--${props.size}`
    aria-hidden="true"
  )&attributes(attributes)
    .hystmodal__wrap
      .hystmodal__window(
        role="dialog"
        aria-modal="true"
        aria-labelledby=props.title
        aria-describedby=props.description
      )
        unless props.noClose
          button(
            type="button"
            data-hystclose
            aria-label="Закрыть модальное окно"
          ).hystmodal__close &times;

        block
