mixin radio(props = {})
  -
    const variant = props.var && `radio--var-${props.var}`
    const size = props.size && `radio--size-${props.size}`
    const mod = props.mod && (Array.isArray(props.mod)
      ? props.mod.filter(Boolean).map(mod => `radio--mod-${mod}`).join(' ')
      : `radio--mod-${props.mod}`)

  #{props.notLabel ? 'div' : 'label'}.radio(
    class=variant
    class=size
    class=mod
    aria-label=props.ariaLabel
  )&attributes(attributes)
    input(
      id=props.id
      type=props.type || 'radio'
      name= props.name
      value= props.value
      checked= props.isChecked
      disabled= props.isDisabled
      required= props.isRequired
    )
    span.radio__title
      block
