mixin textarea(props = {})
  -
    const variant = props.var && `textarea--var-${props.var}`
    const size = props.size && `textarea--size-${props.size}`
    const mod = props.mod && (Array.isArray(props.mod)
      ? props.mod.filter(Boolean).map((mod) => `textarea--mod-${mod}`).join(' ')
      : `textarea--mod-${props.mod}`)

  textarea.textarea(
    name=props.name
    minlength=props.min
    maxlength=props.max
    placeholder=props.placeholder
    class=variant
    class=size
    class=mod
    inputmode=props.inputmode || 'text'
    autofocus=props.hasFocus
    spellcheck=props.spellcheck
  )&attributes(attributes)
    if props.value
      =props.value
    else
      block
